
table {
	text-align:center;
	color:white;
	background-color:blue;
	
}

#value:visited { 
    color: red;
}

#value{
	color:white;
	text-decoration:none;
	
}

#value:hover {
	color:yellow;
	font-weight:bold;
	
}

#question {
	font-size:30px;
	
}

#bullets {
	text-align:left;

}

#time {
	font-size:45px;
	color:white;
	font-weight:bold;
		
}